@model wafa.Models.User
<style>
    a {
        text-decoration: none;
        color: orange;
    }

        a:hover {
            color: orange;
        }

    input {
        border-radius: 25px;
        padding: 10px;
        margin: 5px;
        background-color: #FF5F1F;
        width: 170px;
        border: 1px solid white;
        color: white;
    }

        input a {
            color: white;
        }
</style>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        
        <dt>
            @Html.DisplayFor(model => model.Lawyer.licence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lawyer.licence)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.Lawyer.office_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lawyer.office_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="m-3" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
