@model wafa.Models.Case


@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <style>
        a {
            text-decoration: none;
            color: orange;
        }

            a:hover {
                color: orange;
            }

        input {
            border-radius: 25px;
            padding: 10px;
            margin: 5px;
            background-color: #FF5F1F;
            width: 170px;
            border: 1px solid white;
            color: white;
        }

            input a {
                color: white;
            }
    </style>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Case</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.case_no)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.case_no)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.issuance_date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.issuance_date)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="m-2" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
